@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: #036ce5;
  --background-end-rgb: #3e8ce5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Ubuntu";
  /* font-family: 'Dancing Script', cursive; */
  background-color: #dbe3ed;
}

.gradient_background_title {
  background: linear-gradient(271deg, #0000000f, #fcfcfc12, #0000000f);
  background-size: 400% 400%;
}

.custom_layout {
  max-width: 64rem;
  margin: 5rem auto;
  border-radius: inherit;
  /* --tw-shadow: rgba(50,50,93,0.25) 0px 6px 12px -2px, rgba(0,0,0,0.3) 0px 3px 7px -3px;
  --tw-shadow-colored: 0px 6px 12px -2px var(--tw-shadow-color), 0px 3px 7px -3px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-bg-opacity: 1; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #fcfcfc;
}

.gradient_background {
  background: linear-gradient(
    270deg,
    #00000000,
    #ffffff00,
    #ffffff5c,
    #ffffff,
    #ffffff
  );
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(113, 113, 113);
  outline: 1px solid rgb(44, 44, 44);
}

.hero_bg {
  /* background: linear-gradient(270deg, #1a7bea, #5297e5);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite; */
  /* background: rgb(3,108,229);
  background: linear-gradient(323deg, rgba(3,108,229,1) 26%, rgba(3,211,229,1) 66%, rgba(188,213,243,1) 100%); */
  background-image: linear-gradient(to top, #005bea 0%, #00c6fb 100%);

  /* background-image: radial-gradient(circle at 52% 33%, rgba(17, 17, 17,0.08) 0%, rgba(17, 17, 17,0.08) 33.333%,rgba(74, 74, 74,0.08) 33.333%, rgba(74, 74, 74,0.08) 66.666%,rgba(130, 130, 130,0.08) 66.666%, rgba(130, 130, 130,0.08) 99.999%),radial-gradient(circle at 70% 65%, rgba(129, 129, 129,0.08) 0%, rgba(129, 129, 129,0.08) 33.333%,rgba(95, 95, 95,0.08) 33.333%, rgba(95, 95, 95,0.08) 66.666%,rgba(60, 60, 60,0.08) 66.666%, rgba(60, 60, 60,0.08) 99.999%),radial-gradient(circle at 97% 89%, rgba(21, 21, 21,0.08) 0%, rgba(21, 21, 21,0.08) 33.333%,rgba(89, 89, 89,0.08) 33.333%, rgba(89, 89, 89,0.08) 66.666%,rgba(156, 156, 156,0.08) 66.666%, rgba(156, 156, 156,0.08) 99.999%),linear-gradient(177deg, rgb(60,185,255),rgb(3,108,229)); */
}

.hero_img img {
  filter: drop-shadow(-32px 35px 7px rgba(0,0,0,.2));
}
.nav_bg {
  background-image: linear-gradient(to top, #00c6fb 0%, #00c6fb 100%);
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.spinner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.spinner-square {
  display: flex;
  flex-direction: row;
  width: 90px;
  height: 120px;
}

.spinner-square > .square {
  width: 17px;
  height: 80px;
  margin: auto auto;
  border-radius: 4px;
}

.square-1 {
  animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s
    infinite;
}

.square-2 {
  animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 200ms
    infinite;
}

.square-3 {
  animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms
    infinite;
}

@keyframes square-anim {
  0% {
    height: 80px;
    background-color: rgb(111, 163, 240);
  }
  20% {
    height: 80px;
  }
  40% {
    height: 120px;
    background-color: rgb(111, 200, 240);
  }
  80% {
    height: 80px;
  }
  100% {
    height: 80px;
    background-color: rgb(111, 163, 240);
  }
}

.fade {
  animation: fadein linear both;
  animation-timeline: view(block);
  animation-range: entry 30% cover 30%;
}
.fade_instance {
  animation: 0.3s fadein linear both;
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.fadeInLeft {
  animation: fadeInLeftAnimation linear both;
  animation-timeline: view(block);
  animation-range: entry 5% cover 15%;
}
@keyframes fadeInLeftAnimation {
  0% {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation: fadeInRightAnimation linear both;
  animation-timeline: view(block);
  animation-range: entry 5% cover 15%;
}

@keyframes fadeInRightAnimation {
  0% {
    opacity: 0;
    transform: translate3d(20%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.zoomIn {
  animation: zoomInAnimation both;
  animation-timeline: view(block);
  animation-range: entry 20% exit 100%;
}

@keyframes zoomInAnimation {
  0% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }
  15% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  90% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }
}
/* .zoomOut{
  
  animation: zoomOutAnimation linear both;
  animation-timeline: view(block);
  animation-range: exit 0% exit 50%;
}

@keyframes zoomOutAnimation {
  0% {

    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */

/* Disable animations on mobile devices  */
@media screen and (max-width: 768px) {
  * {
    transition-property: none !important;
    animation: none;
  }
  .zoomIn {
    animation: none;
  }
  .fadein {
    animation: none;
  }
  .fadeInLeft {
    animation: none;
  }
  .fadeInRight {
    animation: none;
  }

  .gradient_background {
    background: linear-gradient(
      360deg,
      #00000000,
      #ffffff22,
      #ffffff94,
      rgb(255, 255, 255),
      #ffffff,
      #ffffff
    );
  }
  .custom_layout {
    margin: 24px 12px;
  }
}

.page {
  margin: 0 10px 20px;

  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #72b4ff 0,
    #025cb5 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: medium;
  height: 48px;
  width: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.page:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.active_page {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #bedcff 0,
    #1c8bfa 100%
  );
  transform: scale(1.3);
}
.active_page:hover {
  transform: scale(1.3);
}
